.container {
  position: relative;
  display: flex;
  max-height: 100%;
  min-height: 400px;
}

.title {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;
  margin-bottom: 15px;
  font-size: 18px;
  color: var(--text-primary);
}

.codeBlock {
  background-color: var(--gray-1);
  border-radius: 6px;
  overflow: auto;
  position: relative;
  border: 1px solid var(--border-color);
  max-height: 800px;
  min-height: 400px;
}

.codeBlock pre {
  margin: 0;
  padding: 15px;
}

.codeBlock code {
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  font-size: 14px;
}

.copyButton {
  display: flex;
  position: absolute;
  top: 10px;
  right: 18px;
  padding: 6px;
  background-color: var(--gray-a3);
  color: var(--text-primary);
  font-size: 12px;
  gap: 4px;
  border: none;
  border-radius: 4px;
  color: var(--gray-a11);
  cursor: pointer;
  transition: background-color var(--transition-fast);
  z-index: 1;
}

.copyButton:hover {
  background-color: var(--gray-7);
}

.copied {
  background-color: var(--blue-a4);
  color: var(--blue-a12);
  cursor: default;
}

.copyButton.copied:hover {
  background-color: var(--blue-a4);
}
